.news-meta .category {
    font-size: 12px;
    color: rgba(0, 144, 255, 1);
    font-family: "Inter", sans-serif;
    font-weight: 600;
}

.news-meta .date {
    font-size: 12px;
    color: rgba(82, 96, 113, 1);
    font-family: "Inter", sans-serif;
    font-weight: 500;
}

.news-meta .dot {
    background-color: rgba(217, 217, 217, 1);
    width: 5px;
    height: 5px;
    border-radius: 50%
}