.card-slider {
    background-color: rgba(0, 202, 163, 1);
    border-radius: 20px;
    display: flex;
    align-items: center;
    padding: 35px 80px;
}

.card-slider .title-card-slider h1 {
    color: white;
    font-family: "Montserrat", sans-serif;
    font-size: 3.8rem;
    font-weight: 600;
}

.card-slider .title-card-slider p {
    color: white;
    font-family: "Montserrat", sans-serif;
    font-size: 1.2rem;
}