.news-card {
  display: flex;
  align-items: flex-start;
  gap: var(--spacing-4);
  max-width: 400px;
  padding: var(--spacing-2);
  font-family: var(--font-sans);
  padding-right: var(--spacing-5);
}

.news-card .image-container .badge-number {
  color: var(--color-white);
  background: var(--color-black);
  border-radius: var(--radius-pill);
  width: 28px;
  height: 28px;
  position: absolute;
  top: -10px;
  left: -10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-container {
  position: relative;
  flex-shrink: 0;
}

.news-image {
  width: 130px;
  height: 130px;
  object-fit: cover;
  border-radius: var(--radius-lg);
}

.content-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 110px;
  width: 50%;
}

.content-container .news-meta {
  display: flex;
  align-items: center;
  gap: 12px;
}

.content-container h4 {
  margin: 0;
}

@media (max-width: 768px) {
  .news-card {
    max-width: 100%;
    width: 100%;
    padding-right: var(--spacing-2);
  }

  .news-image {
    width: 110px;
    height: 110px;
  }

  .content-container {
    width: 100%;
  }
}
